{% extends "base.html" %}
{% block title %}SPC Chart and Distribution{% endblock %}
{% block content %}
    <!--<div id="myDiv" style="width:1200px;height:250px;"></div>-->
    <div id="myDiv"></div>
    <script>
        TESTER = document.getElementById("myDiv")



 {# var timeseries =
  {
    x: ['2013-10-04 22:23:00', '2013-10-04 23:23:00', '2013-12-04 22:23:00'],
    y: {{ mydata }},
    type: 'scatter'
  }#}
 var setPoint =
  {
    x: {{ dateTime | safe }},
    y: {{ setPoint|safe }},
    name: 'set point',
    type: 'scatter'
  }


  var CL = {
    type: 'scatter',
    x: ['2020-07-24 14:10:05','2020-07-24 14:30:05', null, '2020-07-24 14:10:05','2020-07-24 14:30:05'],
    y: [210, 210, null, 230, 230],
    mode: 'lines',
    name: 'LCL/UCL',
    showlegend: true,
    line: {
        color: 'red',
        width: 2,
        dash: 'dash'
    }
    }


var lowerLimit =
  {
    x: {{ dateTime | safe }},
    y: {{ lowerLimit|safe }},
    name: 'lower value',
    type: 'scatter'
  }

  var upperLimit =
  {
    x: {{ dateTime | safe }},
    y: {{ upperLimit|safe }},
    name: 'upper value',
    type: 'scatter'
  }

  var histo = {
    type: 'histogram',
    x: {{ dateTime | safe }},
    y: {{ readValue|safe }},
    name: 'Distribution',
    orientation: 'h',
    marker: {
        color: 'blue',
        line: {
            color: 'white',
        width: 1
    }
    },
    xaxis: 'x2',
    yaxis: 'y2'
    }

  var readValue=
      {
          x: {{ dateTime | safe }},
          y: {{ readValue|safe }},
          name: 'temp value',
          type: 'scatter'
      }

        var data = [readValue, CL, setPoint, histo]


axis_template={
    showline: showline = true,
    showgrid: showgrid = true,
    nticks: nticks = 20
}

var layout = {
            title:'Temperature',
            xaxis: {
                domain: [0, 0.7], // 0 to 70% of width
                zeroline: false
            },
            yaxis: {
                range: [200,240],
                zeroline: false
            },
            xaxis2: {
                domain: [0.8, 1] // 70 to 100% of width
            },
            yaxis2: {
                anchor: 'x2',
                showticklabels: false
            }
}

var config = {responsive: true, displaylogo: false}
Plotly.newPlot(TESTER, data, layout, config)

      </script>
{% endblock %}