<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src= {{ url_for('baseApplication.default') + 'static/js/plotly-latest.min.js' }} ></script>
    <script src= {{ url_for('baseApplication.default') + 'static/js/jquery-3.5.1.min.js' }}  ></script>
    <script src= {{ url_for('baseApplication.default') + 'static/js/bootstrap5/bootstrap.bundle.min.js' }}  ></script>
    <link href = {{ url_for('baseApplication.default') + 'static/css/bootstrap5/bootstrap.min.css' }} rel="stylesheet" />
    <link href = {{ url_for('baseApplication.default') + 'static/css/bootstrap-icons/bootstrap-icons.css'}} rel="stylesheet" />
    <title>
        I3 - {% block title %}{% endblock title %}
    </title>
</head>
<body>


{% block content %}{% endblock content %}

</body>
</html>