<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IFRAME</title>
</head>
<body>
<iframe src={{ url_for('lineApplication.default', table='testcsv') }} width="580" height="580" frameborder="0" allowtransparency="true" name="example"></iframe><br>
<iframe src={{ url_for('boxApplication.default', table='testcsv') }} width="580" height="580" frameborder="0" allowtransparency="true" name="example"></iframe><br>
<iframe src={{ url_for('spcApplication.default', table='testcsv') }} width="580" height="580" frameborder="0" allowtransparency="true" name="example"></iframe><br>
<iframe src={{ url_for('histoApplication.default', table='testcsv') }} width="580" height="580" frameborder="0" allowtransparency="true" name="example"></iframe><br>
</body>
</html>