{% extends "analyticbase.html" %}
{% block title %}Predictive Analytics{% endblock %}
{% block content %}
<div class="container">
    <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
</div>
{% endblock %}
