{% extends "base.html" %}
{% block title %}Box Chart{% endblock %}
{% block content %}
    <!--<div id="myDiv" style="width:1200px;height:250px;"></div>-->
    <div id="myDiv"></div>
    <script>
        TESTER = document.getElementById("myDiv")

    var readValue = {
        y:{{ readValue|safe }},
        type:'box'
    }

    var data = [readValue]

    var layout = {
        title:'Temperature'
    }
    var config = {responsive: true, displaylogo: false}
    Plotly.newPlot(TESTER, data, layout, config)
    </script>
{% endblock %}