{% extends "base.html" %}
{% block title %}Histogram Live Chart{% endblock %}
{% block content %}
    <!--<div id="myDiv" style="width:1200px;height:250px;"></div>-->
    <div id="myDiv"></div>
    <script>
        ROOT = document.getElementById("myDiv")
        machinename = {{ machinename|safe|tojson }}
        machineID= {{ machineID|safe|tojson  }}
        duration={{ duration|safe }}

        x = {{ dateTime | safe }}
        plotParameter = {{ plotParameter|safe }}
        envparameter = {{ envparameter|safe|tojson }}
        sp= {{ sp|safe }}
        lcl = {{  lcl|safe|tojson }}
        ucl = {{  ucl|safe|tojson }}
        title = {{  title|safe|tojson }}
        ylabel = {{ ylabel|safe|tojson }}

        {% if machinename == 'fanuc' %}
            paraIndex= {{ paraIndex|safe|tojson }}
            console.log("HELLO FANUC")
        {% elif machinename == 'moldmaster' %}
            tipID = "{{ tipID|safe }}"
            fieldID = "{{ fieldID|safe }}"
            console.log("HELLO MOLDMASTER")
        {% elif machinename == 'mouldflo' %}
            manifoldID = "{{ manifoldID|safe }}"
            channelID = "{{ channelID|safe }}"
            fieldID = "{{ fieldID|safe }}"
        {% elif machinename == 'motan' %}
            fieldID = "{{ fieldID|safe }}"
        {% elif machinename == 'conair' %}
            fieldID = "{{ fieldID|safe }}"
        {% elif machinename == 'cda' %}
            cdaID = "{{ cdaID|safe }}"
            fieldID = "{{ fieldID|safe }}"
        {% endif %}

        {% if freq != None %}
            freq = {{ freq | safe | tojson }}
                {% else %}
            freq = 60000
        {% endif %}


        drawChart(plotParameter)

        function drawChart(plotParameter){
            var parameter = {
                //x: chartDateTime,
                x: plotParameter,
                autobinx: true,
                //xbins: {size:stdDev},
                name: envparameter,
                type: 'histogram'
            }

            var data = [parameter]

            var layout = {
                title: title,
                bargroupgap: 0.05,

                xaxis:{
                    title: "Frequency",
                    autorange: true
                },
                yaxis:{
                    title:ylabel,
                    autorange: true
                }
            }

            var config = {responsive: true, displaylogo:false}
            Plotly.newPlot(ROOT, data, layout, config)
        }



        function reRender(){
            var myurl
            switch(machinename){
                case "envdata":
                    myurl = "{{ url_for('externalrestapiApplication.env_live_json',duration=duration) }}"
                    break
                case "fanuc":
                    myurl = "{{ url_for('externalrestapiApplication.fanuc_live_json',machineID=machineID, paraIndex=paraIndex, duration=duration) }}"
                    break
                case "moldmaster":
                    myurl = "{{ url_for('moldmasterapiApplication.moldmaster_live_json',machineID=machineID, tipID=tipID, fieldID=fieldID, duration=duration) }}"
                    break
                case "mouldflo":
                    myurl = "{{ url_for('mouldfloapiApplication.mouldflo_live_json',machineID=machineID, manifoldID=manifoldID, channelID=channelID, fieldID=fieldID, duration=duration) }}"
                    break
                case "motan":
                    myurl = "{{ url_for('motanapiApplication.motan_live_json',machineID=machineID, fieldID=fieldID, duration=duration) }}"
                    break
                case "conair":
                    myurl = "{{ url_for('conairapiApplication.conair_live_json',machineID=machineID, fieldID=fieldID, duration=duration) }}"
                    break
                case "cda":
                    myurl = "{{ url_for('cdaapiApplication.cda_live_json', cdaID=cdaID, fieldID=fieldID, duration=duration)}}"
                    break
                default:
            }

            $.ajax({
                type: "GET",
                url: myurl,
                dataType: 'json'
            }).done(function(jsondata, status, xhr){
                console.log("RESPONSE: ", jsondata);
                var x
                var plotParameter
                if (machinename == "fanuc"){
                    x = jsondata[1]
                    plotParameter = jsondata[0]
                } else if (machinename == "moldmaster"){
                    plotParameter = jsondata[0]
                    x = jsondata[1]
                    console.log("MOLDMASTER")
                    console.log("STATUS: ", xhr.status)
                }
                else if(machinename == "mouldflo"){
                    plotParameter= jsondata[0]
                    x = jsondata[1]
                    console.log("MOULDFLO")
                    console.log("STATUS: ", xhr.status)
                }
                else if(machinename == "motan"){
                    plotParameter = jsondata[0]
                    x = jsondata[1]
                    console.log("MOTAN")
                    console.log("STATUS: ", xhr.status)
                }
                else if(machinename == "conair"){
                    plotParameter = jsondata[0]
                    x = jsondata[1]
                    console.log("CONAIR")
                    console.log("STATUS: ", xhr.status)
                }
                else if(machinename == "cda"){
                    plotParameter = jsondata[0]
                    x = jsondata[1]
                    console.log("CDA")
                    console.log("STATUS: ", xhr.status)
                }
                drawChart(plotParameter)
            }).fail(function(xhr, status, error){
                console.log("AJAX FAILED")
            })
        }

        setInterval(reRender, freq)

    </script>
{% endblock %}