{% extends "base.html" %}
{% block title %}Line Chart{% endblock %}
{% block content %}
    <!--<div id="myDiv" style="width:1200px;height:250px;"></div>-->
    <div id="myDiv"></div>
    <script>
        ROOT = document.getElementById("myDiv")
        resp = JSON.parse({{ response |tojson| safe }})
        chartTitle = {{ title|safe|tojson }}
        freq = {{ freq|tojson|safe }}
        console.log("MACHINENAME: ", resp.machineName)
        console.log("DATETIME: ", resp.datetime)
        console.log("FREQ: ", freq)

        //GET PARAMETERS KEY
        listKeyParameter = getListOfKeyParameter(resp.parameters)
        parameterName = listKeyParameter[0]
        drawChart(resp.datetime, resp.parameters[listKeyParameter[0]])


        function drawChart(chartDateTime,chartParameter){
            var parameter = {
                //x: chartDateTime,
                y: chartParameter,
                name: parameterName,
                type: 'histogram'
            }

            var data = [parameter]

            var layout = {
                title: chartTitle
            }

            var config = {responsive: true, displaylogo:false}
            Plotly.newPlot(ROOT, data, layout, config)
        }


        function getListOfKeyParameter(respParameters){
            var keyParameter = new Array()
            for (var i in resp.parameters){
                var key = i;
                keyParameter.push(key)
                console.log("KEY: ", key) //temperature
            }
            return keyParameter
        }

        function reRender(){
            myurl={{ url_for('restdatageneratorApplication.default') }}
            console.log("MYURL: ", myurl)
            $.ajax({
                type: "GET",
                url: myurl,
                dataType: 'json'
            }).done(function(jsondata, status, xhr){
                console.log("RESPONSE: ", jsondata);
                console.log("MachineName: ", jsondata.machineName)
                listKeyParameter = getListOfKeyParameter(jsondata.parameters)
                parameterArray = jsondata.parameters[listKeyParameter[0]]
                dateArray = jsondata.datetime
                console.log("temperatureArray: ", parameterArray)
                console.log("dateArray: ", dateArray)
                drawChart(dateArray,parameterArray)
                setTimeout(reRender,freq)
            }).fail(function(xhr, status, error){
                console.log("AJAX FAILED")
            })
        }

        reRender()

    </script>
{% endblock %}