{% extends "base.html" %}
{% block title %}Line Historical Chart{% endblock %}
{% block content %}
    <!--<div id="myDiv" style="width:1200px;height:250px;"></div>-->
    <div id="myDiv"></div>
    <script>
        ROOT = document.getElementById("myDiv")
        machinename = "{{ machinename|safe }}"
        x = {{ dateTime | safe }}
        plotParameter = {{ plotParameter|safe }}
        title = {{ title|safe|tojson }}
        envparameter = {{ envparameter|safe|tojson }}
        ylabel = {{ ylabel|safe|tojson }}
            {#
                setPointValue = x.map(xItem =>{return {{ sp|safe }}})
                lcl = {{  lcl|safe }}
                ucl = {{  ucl|safe }}
        #}
        {% if sp != none %}
            setPointValue = x.map(xItem =>{return {{ sp|safe }}})
            sp= {{ sp|safe }}
        {% else %}
            sp = 0
            setPointValue = x.map(xItem =>{return sp})
        {% endif %}

        {% if noCL != None %}
            noCL={{ noCL | safe }}
        {% else  %}
            noCL = 0 //SHOW CL AND SP
        {% endif %}

        {%  if lcl != None %}
            lcl = {{ lcl | safe | tojson }}
                {% else %}
            lcl = 0
        {% endif %}

        {%  if ucl != None %}
            ucl = {{ ucl | safe | tojson }}
                {% else %}
            ucl = 0
        {% endif %}

        var setPoint =
            {
                x: x,
                y: setPointValue,
                name: 'set point',
                type: 'scatter'
            }
        var CL =
            {
                type: 'scatter',
                //x: ['2020-07-24 14:10:05','2020-07-24 14:30:05',null, '2020-07-24 14:10:05','2020-07-24 14:30:05'],
                x:[x[0], x[x.length -1], null, x[0],x[x.length -1]],
                y: [lcl, lcl,null, ucl, ucl],
                mode: 'lines',
                name: 'LCL/UCL',
                showlegend: true,
                line: {
                    color: 'red',
                    width: 2,
                    dash: 'dash'
                }
            }



        var readValue={
            x: x,
            y: plotParameter,
            name: envparameter,
            type: 'scatter'
        }

        var data
        if (noCL == 1){
            console.log("NOCLSP")
            data = [readValue]
        }else{
            console.log("YESCLSP")
            data = [readValue, setPoint, CL]
        }


        {% if machinename == "predict" %}
        var layout = {
            title: title,
            showlegend: true,
            annotations:[
                    {
                        x: x[0],
                        y: 1,
                        xref: 'x',
                        yref: 'y',
                        text: 'GOOD',
                        showarrow:false,
                        font: {
                            family: 'Courier New, monospace',
                            size: 16,
                            color: '#ffffff'
                          },
                          align: 'center',
                        arrowhead: 2,
                        arrowsize: 1,
                        arrowwidth: 2,
                        arrowcolor: '#636363',
                        ax: 20,
                        ay: -30,
                        bordercolor: '#c7c7c7',
                        borderwidth: 2,
                        borderpad: 4,
                        bgcolor: '#ff7f0e',
                        opacity: 0.8    
                    },
                    {
                        x: x[0],
                        y: 0,
                        xref: 'x',
                        yref: 'y',
                        text: 'BAD',
                        showarrow:false,
                        font: {
                            family: 'Courier New, monospace',
                            size: 16,
                            color: '#ffffff'
                          },
                          align: 'center',
                        arrowhead: 2,
                        arrowsize: 1,
                        arrowwidth: 2,
                        arrowcolor: '#636363',
                        ax: 20,
                        ay: -30,
                        bordercolor: '#c7c7c7',
                        borderwidth: 2,
                        borderpad: 4,
                        bgcolor: '#ff7f0e',
                        opacity: 0.8    
                    }
                ],
            legend:{
                   x: 0.5,
                   y: -0.8
            },
            yaxis:{
                title: ylabel,
                autorange: true,
                type: 'linear',
                showline: showline = true,
                showgrid: showgrid = true,
                nticks: nticks =6
            },
            xaxis:{
                title: "Time",
                showline: showline = true
            }
}
        {% else %}
var layout = {
            title: title,
            showlegend: true,
            legend:{
                   x: 0.5,
                   y: -0.8
            },
            yaxis:{
                title: ylabel,
                autorange: true,
                type: 'linear',
                showline: showline = true,
                showgrid: showgrid = true,
                nticks: nticks =6
            },
            xaxis:{
                title: "Time",
                showline: showline = true
            }
}
        {% endif %}
       
var config = {responsive: true, displaylogo:false}
Plotly.newPlot(ROOT, data, layout, config)

      </script>
{% endblock %}